{% extends 'LAYOUT.html' %}

{% block head %}

<link rel="stylesheet" href="/css/post_details.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gowun+Batang&family=Hi+Melody&family=Noto+Sans+KR:wght@300;400&family=Playpen+Sans&family=Roboto:wght@500&family=Young+Serif&display=swap" rel="stylesheet">

{% endblock %}

{% block top %}

<a href="/" id="sub_title">MBTI</a>

{% endblock %}

{% block container %}

<section class="content">

    <div class="box">

        <div class="detail">    
        
            <div class="info">
            
                <a href="."><h1>{{ mbti.mbti_name }}</h1></a>
            
                <img src="/images/{{ mbti.mbti_img }}" width="320" height="240">
            
                <div>
                
                    <h2>{{ mbti.mbti_name }}</h2>
                    님의 MBTI :
                    <h2>"{{ mbti.mbti_mbti }}"</h2>
                
                </div>
            
            </div>
        
        </div>
    
        <div class="compare">
                
            <h2>{{ mbti.mbti_mbti }} 와</h2>

                <select id="select" name="selectbox" onchange="chageMBTISelect()">
                    <optgroup label="MBTI 선택">
                        <option value="" selected disabled>(선택)</option>
                    {% for mbti_relationship in mbti_relationships %}
                        <option value="{{ mbti_relationship.relationship }}"> {{ mbti_relationship.stakeholders }} </option>
                    {% endfor %}
                    </optgroup>
                </select>
            
            <h2>의 궁합</h2>
            
        </div>

        <div id="mbtiRelationship" class="compare_content">

            MBTI를 선택해 주세요!

        </div>

    </div>

</section>

{% endblock %}

{% block script %}
    <script>

    // https://goodsgoods.tistory.com/249
        function chageMBTISelect() {
            let mbtiSelect = document.getElementById("select");

            let selectValue = mbtiSelect.options[mbtiSelect.selectedIndex].value;

            let mbtiRelationship = document.getElementById("mbtiRelationship");
            mbtiRelationship.innerHTML = selectValue;
        }


    </script>
{% endblock %}