{% extends 'LAYOUT.html' %}

{% block head %}

<link rel="stylesheet" href="/css/post_details.css">

{% endblock %}

{% block top %}

<a href="/" id="sub_title">MBTI</a>

{% endblock %}

{% block container %}

<section class="content">

    <div class="box">

        <div class="detail">    
        
            <div class="info">
            
                <h1>{{ mbti.mbti_name }}</h1>
            
                <img src="/images/{{ mbti.mbti_img }}" width="320" height="240">
            
                <div>
                
                    <h2>{{ mbti.mbti_name }}</h2>
                    님의 MBTI :
                    <h2>"{{ mbti.mbti_mbti }}"</h2>
                
                </div>
            
            </div>
        
        </div>
    
        <div class="compare">
                
            <h2>{{ mbti.mbti_mbti }} 와</h2>
            
                <select name="mbti" id="mbti">
                
                    <optgroup label="유형 E">
                    
                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTJ">ENTJ</option>
                    
                    </optgroup>
                
                    <optgroup label="유형 I">
                    
                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="INFP">INFP</option>
                        <option value="INTP">INTP</option>
                    
                    </optgroup>
                
                </select>
            
            <h2>의 궁합</h2>
            
        </div>

        <div class="compare_content">

            

        </div>

    </div>

</section>

{% endblock %}

{% block script %}
    <script>

    // https://goodsgoods.tistory.com/249
        function chageMBTISelect() {
            let mbtiSelect = document.getElementById("selectbox");

            // select element에서 선택된 option의 value가 저장된다.
            let selectValue = mbtiSelect.options[mbtiSelect.selectedIndex].value;

            // select element에서 선택된 option의 text가 저장된다.
            let selectText = mbtiSelect.options[mbtiSelect.selectedIndex].text;

            // mbti 관계를 나타내는 문구 (default. 당신의 MBTI(선택해 주세요!)와 MBTI(이 포스트의 MBTI)의 관계) 에서 당신의 MBTI 적기
            let yourMBTI = document.getElementById("yourMBTI");
            yourMBTI.textContent = selectText;

            // MBTI 설명 띄우기
            let mbtiRelationship = document.getElementById("mbtiRelationship");
            mbtiRelationship.textContent = selectValue;
        }



    </script>
{% endblock %}