{% extends 'LAYOUT.html' %}


{% block head %}
<link rel="stylesheet" href="/css/in_rooms.css">

<script src="/js/in_rooms.js"></script>
{% endblock %}

{% block top %}
            
<div id="search">

    <form method="post">

        <input type="search" name="search" placeholder="검색하기">

        <button type="submit" class="material-symbols-outlined">
            search
        </button>

    </form>

</div>

{% endblock %}

{% block container %}

    <section class="content">

        <div class="head">

            <a href="/room/"><h1>{{ room.room_alias }}</h1></a>
    
            <br>
    
            <a href="{{ room.room_name }}/create/">
    
                <div class="make_article">
    
                    게시물 올리기!
    
                </div>
    
            </a>
    
            <br>
    
            <a href="#" id="delete">방 삭제하기</a>
    
        </div>

        <div class="container">

            {% for mbti in mbti_posts %}
            
            <a href="{{ room.room_name }}/{{mbti.id}}" class="box">
            
                <div class="img">
                
                    <img src="/images/{{ mbti.mbti_img }}" alt="{{ mbti.mbti_name }}">
                
                </div>
            
                <ul class="info">
                
                    <li class="name">이름 : {{ mbti.mbti_name }}</li>
                    <li class="mbti">MBTI : {{ mbti.mbti_mbti }}</li>    
                
                </ul>
            
            </a>
        
            {% endfor%}

        </div>

    </section>

{% endblock %}






