{% extends 'LAYOUT.html' %}


{% block head %}
<link rel="stylesheet" href="../css/in_rooms.css">
{% endblock %}




{% block container %}

    <div class="head">

            <a href="./"><h1>{{ room.room_alias }}</h1></a> <!-- {{room.name}} -->

            <br>

            <a href="./mbti/create"> <!-- make_article로 이동 -->

                <div class="make_article">

                    게시물 올리기!

                </div>

            </a>

        </div>

        <section class="content">

            {% for mbti in mbti_posts %}

            <a href="#" class="box"> <!-- details로 이동 --> <!-- 여기 나중에 주목!주목!주목!주목!주목!주목!주목!주목!주목!주목!주목!주목!주목!-->

                <div class="img">

                    <img src="../../images/{{ mbti.mbti_img }}" alt="{{ mbti.mbti_name }}" style="width: 100px"> <!-- 크기 조절하셈 to 하편라-->

                </div>

                <ul class="info">

                    <li class="name">이름 : {{ mbti.mbti_name }}</li>
                    <li class="mbti">MBTI : {{ mbti.mbti_mbti }}</li>

                </ul>

            </a>

            {% endfor%}

        </section>






    {% endblock %}






