{% extends 'LAYOUT.html' %}


{% block head %}
<link rel="stylesheet" href="/css/in_rooms.css">

<script src="/js/in_rooms.js"></script>
{% endblock %}

{% block top %}
            
<div id="search">

    <form method="post">

        <input type="search" name="search" placeholder="검색하기 (작동 불가)">

        <button type="submit" class="material-symbols-outlined">
            search
        </button>

    </form>

</div>

{% endblock %}

{% block container %}

    <section class="content">

        <div class="head">

            <a href="/room/"><h1>{{ room.room_alias }}</h1></a>
    
            <br>
    
            <a href="{{ room.room_name }}/create/">
    
                <div class="make_article">
    
                    게시물 올리기!
    
                </div>
    
            </a>
    
            <br>

            {% if is_user_creator %}
    
            <a href="/room/delete/{{ room.room_name }}" id="delete">방 삭제하기</a>
    
            {% endif %}
        </div>

        <div class="container">

            {% for mbti in mbti_posts %}
            
            <div class="box">
            
                <a href="{{ room.room_name }}/{{mbti.id}}" class="img">
                
                    <img src="/images/{{ mbti.mbti_img }}" onerror="this.onerror=null;this.src='/own_images/nero00.jpg'" alt="{{ mbti.mbti_name }}">
                
                </a>
            
                <ul class="info">
                
                    <li class="name">이름 : {{ mbti.mbti_name }}</li>
                    <li class="mbti">MBTI : {{ mbti.mbti_mbti }}</li>

                    {% if is_user_creator %}

                    <li><a href="/mbti/delete/{{ room.room_name }}/{{ mbti.id }}" id="delete">게시물 지우기</a></li>
                
                    {% endif %}
                </ul>
            
            </div>
        
            {% endfor%}

        </div>

    </section>

{% endblock %} 