{% extends 'LAYOUT.html' %}

{% block head %}

<link rel="stylesheet" href="/css/make_post.css">

<script src="/js/make_post.js"></script>

{% endblock %}

{% block top %}

<a href="#" id="sub_title">포스트</a>

{% endblock %}

{% block container %}
<section class="content">

    <div id="video-container">
        <video id="video" width="320" height="240" autoplay></video>
        <div class="take_pic">
            <button id="capture-btn">사진 찍기</button>
        </div>
    </div>

    <form method="post" id="box" enctype="multipart/form-data">

        <div id="top">

            MBTI 포스트 만들기

        </div>

        <div class="img">
        
        <img id="captured-photo" width="320">
        <button id="take_pic">사진 찍기</button>
        
        </div>

        <div class="img-file">

        <input type="file" id="image-upload" accept="image/*" style="display: none;" name="raw_mbti_image">
        <label for="image-upload" id="upload-label">이미지 업로드</label>

        </div>

        <div class="input_name">

            <h1>자신의 이름 :</h1>
        
            <input type="text" name="request_mbti_name">

        </div>

        <div class="input_mbti">

            <h1>MBTI :</h1>

            <div>
        
                <select value="{{ request_mbti_mbti }}" name="request_mbti_mbti" id="select">

                    <optgroup label="유형 E">

                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTJ">ENTJ</option>

                    </optgroup>

                    <optgroup label="유형 I">

                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="INFP">INFP</option>
                        <option value="INTP">INTP</option>

                    </optgroup>

                </select>

                <label class="material-symbols-outlined" for="select" id="up">
                    expand_more
                </label>

            </div>

        </div>

        <div id="submit">

            <input type="submit" value="만들기">

        </div>

    </form>

</section>
{% endblock %}