{% extends 'LAYOUT.html' %}

{% block head %}

<link rel="stylesheet" href="/css/rooms.css">

{% endblock %}

{% block top %}
            
<div id="search">

    <form method="post">

        <input type="search" name="search" placeholder="검색하기 (작동 불가)">

        <button type="submit" class="material-symbols-outlined">
            search
        </button>

    </form>

</div>

{% endblock %}

{% block container %}
    <section class="content">

        <div class="container">

        {% if my_rooms %}

        <div class="head">

            <a href="/room/"><h1>나의 방</h1></a>

            <br>

            <a href="create/">

                <div class="make_room">

                    방 만들기!

                </div>

            </a>

        </div>

        

            <div class="box">

                {% for my_room in my_rooms %}

                <a href="/mbti/{{ my_room.room_name }}">
                    <div class="room">

                        <h1>{{ my_room.room_alias }}</h1>

                        <ul>
                        
                            <li><h2>by. {{my_room.room_creator}}</h2></li>

                        </ul>

                    </div>

                </a>

                {% endfor %}

            </div>

        {% endif %}

        <div class="head">

            <a href="/room/"><h1>방 갤러리</h1></a>

            <br>

            <a href="create/">

                <div class="make_room">

                    방 만들기!

                </div>

            </a>

        </div>

            <div class="box">
            
                {% for room in rooms %}
            
                <a href="/mbti/{{ room.room_name }}">
                
                    <div class="room">
                    
                        <h1>{{ room.room_alias }}</h1>
                    
                        <ul>
                        
                            <li><h2>by. {{ room.room_creator }}</h2></li>
                        
                        </ul>
                    
                    </div>
                
                </a>
            
                {% endfor %}
            
            </div>

        </div>

    </section>

{% endblock %}
