{% extends 'LAYOUT.html' %}

{% block head %}

<link rel="stylesheet" href="/css/make_room.css">

<script src="/js/make_room.js"></script>

{% endblock %}

{% block top %}

<a href="create/" id="sub_title">방 만들기</a>

{% endblock %}

{% block container %}
<section class="content">

    <form method="post" id="box">

        <div id="top">

            방 만들기

        </div>

        <div class="input_room">

            <h1>방 이름 :</h1>
        
            <input type="text" value="{{ request_room_alias }}" name="request_room_alias" autocomplete="off">

        </div>

        <div class="input_room">

            <h1>방 아이디 :</h1>
        
            <input type="text" value="{{ request_room_name }}" name="request_room_name" autocomplete="off">

        </div>

        <div id="room_visibility">
            
            <div>

                <input id="radio2" type="checkbox" value="True" name="request_room_setting_private">
                <input type="hidden" value="False" name="request_room_setting_private">
                <label for="radio2"> 비공개</label>
                <br>
                <p>(링크를 통해서만 들어갈 수 있습니다)</p>

            </div>
            
        </div>

        <div id="submit">

            <input type="submit" value="만들기">

        </div>

    </form>

</section>
{% endblock %}