{% extends 'LAYOUT.html' %}

{% block head %}

<link rel="stylesheet" href="/css/login.css">

<script src="/js/login.js"></script>

{% endblock %}

{% block top %}

<a href="#" id="sub_title">로그인</a>

{% endblock %}

{% block container %}

    <section class="content">

        <form method="post" id="box">

            <div id="top">

                로그인하기

            </div>

            <div id="user">

                <h1>Username :</h1>
            
                <input type="text" value="{{ username }}" name="username">

            </div>

            <div id="pass">
                
                <h1>Password :</h1>

                <input type="password" value="{{ password }}" name="password">

            </div>

            <div id="make">

                <a href="#">새 계정 만들기</a>

            </div>
            
            <div id="submit">

                <input type="submit" value="로그인">

            </div>

        </form>

    </section>

{% endblock %}