{% extends 'LAYOUT.html' %}

{% block container %}

    {% if is_user_creator %}
        <a href="/room/delete/{{ room.room_name }}">방 삭제하기</a>
    {% else %}
        <p>방 삭제하려면 로그인(실제 만들떈 else문 불필요, 이 문장도)</p>
    {% endif %}


    <p>여기는 "{{ room.room_alias }}" 룸이야</p>

    <a href="{{ room.room_name }}/create/"> 포스트 올리기 </a>
    <p> 포스트들 </p>

    {% for mbti in mbti_posts %}
    <hr>
    <p>이름: {{ mbti.mbti_name }}</p>
    <p>mbti: {{ mbti.mbti_mbti }}</p>
    <p>이미지: {{ mbti.mbti_img }}</p>
    <a href="{{ room.room_name }}/{{mbti.id}}"><img src="/images/{{ mbti.mbti_img }}" alt="{{ mbti.mbti_name }}" style="width: 250px;"></a>
    {% endfor%}

{% endblock %}