{% extends 'LAYOUT.html' %}

{% block container %}

    <a href="."> 룸으로 돌아가기 </a>

    <p>이름: {{ mbti.mbti_name }}</p>
    <p>mbti: {{ mbti.mbti_mbti }}</p>
    <p>이미지: <img src="/images/{{ mbti.mbti_img }}" alt="{{ mbti.mbti_name }}"> </p>

    <select id="selectbox" name="selectbox" onchange="chageMBTISelect()">
        <option value="" selected disabled> MBTI 선택</option>
        <option value="" selected disabled>(mbti를 선택해 주세요)</option>
        {% for mbti_relationship in mbti_relationships %}
            <option value="{{ mbti_relationship.relationship }}"> {{ mbti_relationship.stakeholders }} </option>
        {% endfor %}
    </select>

    <p><span id="yourMBTI"> 당신의 MBTI(선택해 주세요!)</span>와 {{ mbti.mbti_mbti }}의 관계</p>

    <p id="mbtiRelationship"> </p>

{% endblock %}

{% block script %}
    <script>

    // https://goodsgoods.tistory.com/249
        function chageMBTISelect() {
            let mbtiSelect = document.getElementById("selectbox");

            // select element에서 선택된 option의 value가 저장된다.
            let selectValue = mbtiSelect.options[mbtiSelect.selectedIndex].value

            // MBTI 설명 띄우기
            let mbtiRelationship = document.getElementById("mbtiRelationship");
            mbtiRelationship.innerHTML = selectValue;
        }



    </script>
{% endblock %}