{% extends 'LAYOUT.html' %}

{% block container %}

{% if user %}
<a href="./create">룸 만들기</a>
{% else %}
<a href="./create">룸을 만들기 위해 로그인하세요</a>
{% endif %}



    {% if user %}
        <p>여기엔 너의 방들이 있어.</p>
        <div id="my_room">
            {% for my_room in my_rooms %}
            <a href="../mbti/{{ my_room.room_name }}"><p> 룸별명: {{ my_room.room_alias }},    룸이름: {{ my_room.room_name }}</p></a>
            {% endfor %}
        </div>
    {% endif %}




    <p> 이 밑은 공개방</p>
    {% for room in rooms %}
        <a href="../mbti/{{ room.room_name }}"><p> 룸별명: {{ room.room_alias }},    룸이름: {{ room.room_name }}</p></a>
    {% endfor %}


{% endblock %}

<style>
    #my_room {
        color: deeppink
    }
</style>