* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Hi Melody', sans-serif;

    height: 915px;
    width: 412px;
}

body {
    height: 100%;
    width: 100%;
}

.nav {
    height: 8%;
    width: 412px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    background-color: pink;

    border-bottom: 2px solid black;

    position: fixed;
    top: 0;
}


#title {
    width: 180px;

    text-decoration: none;
    color: black;

    font-size: 40px;
    font-weight: 1000;

    user-select: none;

    margin-left: 10px;
}

#title:active {
    color: rgba(0, 0, 0, 0.637);
    background-color: transparent;
}


#search {
    height: 40%;
    width: 150px;

    background-color: white ;

    padding-left: 5px;
    padding-right: 5px;


    border: 2px solid black;
    border-radius: 5px;
}

#search form {
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.material-symbols-outlined {
    border: none;

    background-color: white;

    color: rgba(0, 0, 0, 0.637);

    user-select: none;

}

#search input {
    height: 80%;
    width: 80%;

    border: none;

    font-size: 100%;
}

#search input:focus {
    outline: none;
}

#menu {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-right: 5px;
}

#menu label {

    background-color: pink;
    font-size: 35px;
    color: black;
}

.bar_back {
    visibility: hidden;
    position: fixed;

    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0);

    transition: visibility 0s 0.7s, background-color 0.7s;
}

.bar {
    position: fixed;

    height: 100%;
    width: 183px;

    top: 0;
    right: -183px;
    z-index: 2;

    background-color: pink;

    transition: right 0.7s;
}

.bar_top {
    height: 8%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;
}

.bar_top h1 {
    margin-right: 20px;

    font-size: 40px;
}

.bar_top label {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    padding-right: 20px;
}

.bar_content {
    height: 76%;
    width: 100%;
}

.bar_content ul {
    display: grid;
    grid-template-columns: auto;
}

.bar_content li {
    list-style: none;

    display: flex;
    justify-content: end;
    
    font-size: 30px;
    font-weight: 600;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid black;
}

.bar_content a {
    text-decoration: none;
    color: black;

    margin-right: 20px;
}

#menu input:checked + .bar_back {
    visibility: visible;
    background-color: rgba(128, 128, 128, 0.808);
    transition-delay: 0s;
}

#menu input:checked ~ .bar {
    right: 0;
}

#menu input {
    display: none;
}




.content {
    height: 76%;
    width: 100%;

    padding-top: 75px;

    text-align: center;

    overflow: auto;
}

.head {
    height: 100px;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 20px 35px 20px;
}

.head a {
    text-decoration: none;
    color: black;
}

.head a:active {
    color: rgba(0, 0, 0, 0.637);
}

.head h1 {
    font-size: 40px;
    text-align: center;
}

.head .make_room {
    width: fit-content;

    font-size: 25px;
    font-weight: 600;

    padding-left: 3px;
    padding-right: 3px;

    border: 2px solid black;
    border-radius: 7px;

    background-color: rgba(255, 192, 203, 0.44);
}

.head .make_room:active {
    background-color: rgba(255, 192, 203, 0.171);
}

.box {
    height: fit-content;
    margin: 0px 20px 20px 20px;
    margin-bottom: 35px;

    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.box a {
    text-decoration: none;
    color: black;
}

.room {
    height: 50px;

    padding: 0px 12px 0px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 192, 203, 0.44);

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px pink;
}

.room:active {
    background-color: rgba(255, 192, 203, 0.171);
}

.room h1 {
    font-size: 30px;
}

.room ul {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;    
}

.room ul li {
    list-style: none;

    font-size: 18px;
}


.other {
    height: 16%;
    width: 412px;

    border-top: 2px solid ;

    background-color: pink;

    position: fixed;
    bottom: 0;
}

.other .text {
    text-align: center;

    padding-top: 1rem;

    
}

.other .text h1 {
    font-size: 20px;
}

.other .text p {
    font-size: 20px;

    font-weight: 600;
}

#corp {
    color: rgba(0, 0, 0, 0.119);
}
