@media screen and (max-width: 500px) {
    #search {
        width: 150px;

    }

    #menu {
        width: 100%;
    
        display: flex;
        justify-content: center;
    }

    .bar {
        width: 200px;

        right: -200px;
    }
}

@media screen and (min-width: 501px) {
    #search {
        height: 40%;
        width: 100%;

        background-color: white;
        padding-left: 5px;
        padding-right: 5px;

        border: 2px solid black;
        border-radius: 5px;
        margin: 0 auto;
    }

    #menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 

    #menu label {
        margin-right: 10px;
    }

    .bar {
        width: 300px;

        right: -300px;
    }
}
 
#search {
    height: 40%;
    width: 100%;

    background-color: white ;

    padding-left: 10px;
    padding-right: 5px;

    font-size: 2vh;

    border: 2px solid black;
    border-radius: 5px;
}

#search form {
    height: 100%;

    display: flex;
    align-items: center;
}

#search .material-symbols-outlined {
    border: none;

    background-color: white;

    color: rgba(0, 0, 0, 0.637);

    user-select: none;

    font-size: 3vh;

    cursor: pointer;
}

#search input {
    height: 80%;
    width: 100%;

    border: none;

    font-size: 100%;
}

#search input:focus {
    outline: none;
}

.content {
    height: 84%;
    width: 100%;

    text-align: center;

    overflow: auto;
}

.content .text {
    height: fit-content;
    margin-top: 18%;
    margin-bottom: 16%;
}

.content h1 {
    font-size: 35px;

    margin-bottom: 0;
}

.content h2 {
    font-size: 25px;
}

.content p {
    font-size: 20px;

    font-weight: 800;
}

.text a {
    text-decoration: none;
    color: black;

    padding: 2px;

    background-color: rgba(255, 192, 203, 0.44);

    border: 2px solid black;
    border-radius: 5px;
}

#모든 {
    padding: 0px 2px 0px 2px;
    border-radius: 2px;
    background-color: rgba(231, 138, 138, 0.5);
}

.MBTI {
    padding: 0px 2px 0px 2px;
    border-radius: 2px;
    background-color: rgba(28, 207, 207, 0.5);
}

.방 {
    padding: 0px 2px 0px 2px;
    border-radius: 2px;
    background-color: rgba(169, 152, 226, 0.5);
}

#핑크색 {
    padding: 0px 2px 0px 2px;
    border-radius: 2px;
    background-color: rgba(255, 192, 203, 0.5);
}
