@media screen and (max-width: 500px) {
    #search {
        width: 150px;

    }

    #menu {
        width: 100%;
    
        display: flex;
        justify-content: center;
    }

    .content {
        grid-template-columns: auto auto;
    }

    .bar {
        width: 200px;

        right: -200px;
    }
}

@media screen and (min-width: 501px) {
    #search {
        height: 40%;
        width: 100%;

        background-color: white;
        padding-left: 5px;
        padding-right: 5px;

        border: 2px solid black;
        border-radius: 5px;
        margin: 0 auto;
    }

    #menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 

    #menu label {
        margin-right: 10px;
    }

    .content {
        grid-template-columns: auto auto auto auto auto;
    }

    .bar {
        width: 300px;

        right: -300px;
    }
}

#search {
    height: 40%;
    width: 100%;

    background-color: white ;

    padding-left: 10px;
    padding-right: 5px;

    font-size: 2vh;

    border: 2px solid black;
    border-radius: 5px;
}

#search form {
    height: 100%;

    display: flex;
    align-items: center;
}

#search .material-symbols-outlined {
    border: none;

    background-color: white;

    color: rgba(0, 0, 0, 0.637);

    user-select: none;

    font-size: 3vh;

    cursor: pointer;
}

#search input {
    height: 80%;
    width: 100%;

    border: none;

    font-size: 100%;
}

#search input:focus {
    outline: none;
}

.content {
    height: 84%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;

    overflow: auto;

    padding-bottom: 10%;
}

.head {
    min-height: 150px;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 20px 35px 20px;
    margin-top: 10%; 
}

.head a {
    color: black;
    text-decoration: none;
}

.head a:active {
    color: rgba(0, 0, 0, 0.637);
}

.head h1 {
    font-size: 40px;
    text-align: center;
}

.head .make_article {
    width: fit-content;

    font-size: 25px;
    font-weight: 600;

    padding-left: 3px;
    padding-right: 3px;

    border: 2px solid black;
    border-radius: 7px;

    background-color: rgba(255, 192, 203, 0.44);
}

#delete {
    font-size: 20px;
    font-weight: 600;

    color: black;
    text-decoration: underline;
}



.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-items: center;

    font-size: 20px;
    font-weight: 800;
    text-align: center;

    margin-bottom: 10%;
}

.box {
    height: max-content;
    width: fit-content;
    max-width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 8px pink;

    text-decoration: none;
    color: black;
}

.img {
    text-decoration: none;
    color: black;
}

.img img {
    min-height: 100%;
    max-height: 100%;
    min-width: 87%;
    max-width: 87%;

    background-color: rgb(217, 217, 252);

    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 8px pink;
}

.info {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info li {
    list-style: none;

    width: 160px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}