* {
    margin: 0;
    padding: 0;

    
}

html {
    font-family: 'Hi Melody', sans-serif;

    height: 915px;
    width: 412px;
}

body {
    height: 100%;
    width: 100%;
}

.nav {
    height: 8%;
    width: 412px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    background-color: pink;

    border-bottom: 2px solid black;

    position: fixed;
    top: 0;
}


#title {
    width: 180px;

    text-decoration: none;
    color: black;

    font-size: 40px;
    font-weight: 1000;

    user-select: none;

    margin-left: 10px;
}

#title:active {
    color: rgba(0, 0, 0, 0.637);
    background-color: transparent;
}


#sub_title {
    width: 150px;

    text-align: center;
    text-decoration: none;
    color: black;

    font-size: 40px;
    font-weight: 1000;

    user-select: none;
}


#menu {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-right: 5px;
}

#menu label {

    background-color: pink;
    font-size: 35px;
    color: black;
}

.bar_back {
    visibility: hidden;
    position: fixed;

    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0);

    transition: visibility 0s 0.7s, background-color 0.7s;
}

.bar {
    position: fixed;

    height: 100%;
    width: 183px;

    top: 0;
    right: -183px;
    z-index: 2;

    background-color: pink;

    transition: right 0.7s;
}

.bar_top {
    height: 8%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;
}

.bar_top h1 {
    margin-left: 20px;

    font-size: 40px;
}

.bar_top label {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    padding-right: 20px;
}

.bar_content {
    height: 76%;
    width: 100%;
}

.bar_content ul {
    display: grid;
    grid-template-columns: auto;
}

.bar_content li {
    list-style: none;

    display: flex;
    justify-content: end;
    
    font-size: 30px;
    font-weight: 600;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid black;
}

.bar_content a {
    text-decoration: none;
    color: black;

    margin-right: 20px;
}

#menu input:checked + .bar_back {
    visibility: visible;
    background-color: rgba(128, 128, 128, 0.808);
    transition-delay: 0s;
}

#menu input:checked ~ .bar {
    right: 0;
}

#menu input {
    display: none;
}


.content {
    height: 84%;
    width: 100%;

    text-align: center;

    overflow: auto;
}

#box {
    min-height: 550px;
    width: 370px;

    margin-top: 132px;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 97px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: rgba(255, 192, 203, 0.44);

    box-shadow: 2px 2px 8px pink;
}

#top {
    font-size: 40px;
    font-weight: 600;

    margin-bottom: 50px;
}

#user,
#pass {
    width: 250px;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

#box h1 {
    font-size: 30px;
}

#box input[type="text"],
#box input[type="password"] {
    height: 30px;
    width: 100%;

    padding-bottom: 4px;

    border: none;
    border-bottom: 2px solid black;

    font-size: 25px;

    background-color:rgba(255, 255, 255, 0);
}

#box input[type="text"]:focus,
#box input[type="password"]:focus {
    outline: none;
}

#make {
    margin-bottom: 20px;
}

#make a {
    text-decoration: none;
    color: black;

    font-size: 20px;
    font-weight: 600;

    padding-bottom: 2px;

    border-bottom: 2px solid black;
}

#submit {
    width: 250px;

    padding-left: 50px;
    padding-right: 50px;
}

#submit input[type="submit"] {
    height: 40px;
    width: 100%;

    border: 2px solid black;
    border-radius: 10px;

    font-family: 'Hi Melody', sans-serif;
    font-size: 20px;
    font-weight: 600;

    background-color: pink;
}

#submit input[type="submit"]:active {
    background-color: rgba(255, 192, 203, 0.44);
}

.other {
    height: 16%;
    width: 412px;

    border-top: 2px solid ;

    background-color: pink;

    position: fixed;
    bottom: 0;
}

.other .text {
    text-align: center;

    padding-top: 1rem;

    
}

.other .text h1 {
    font-size: 20px;
}

.other .text p {
    font-size: 20px;

    font-weight: 600;
}

#corp {
    color: rgba(0, 0, 0, 0.119);
}
