@media screen and (max-width: 500px) {
    #menu {
        width: 100%;
    
        display: flex;
        justify-content: center;
    }

    .bar {
        width: 200px;

        right: -200px;
    }
}

@media screen and (min-width: 501px) {
    #sub_title {
        margin: 0 auto;
    }

    #menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 

    #menu label {
        margin-right: 10px;
    }

    .bar {
        width: 300px;

        right: -300px;
    }
}

#sub_title {
    width: 100%;

    text-align: center;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 5vh;
    font-weight: 1000;

    user-select: none;

    cursor: pointer;
}

#sub_title:active {
    color: rgba(0, 0, 0, 0.637);
    background-color: transparent;
}

.content {
    height: 88%;
    width: 100%;


    text-align: center;
    display: flex;
    justify-content: center;

    overflow: auto;
}

.box {
    height: fit-content;
    width: 50vw;

    margin-top: 132px;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 97px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.detail {
    height: fit-content;
}

.detail h1 {
    font-size: 50px;
}

.detail img {
    height: auto;
    width: 240px;

    border: 2px solid black;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.info a {
    text-decoration: none;
    color: black;
}

.info div h2 {
    font-size: 40px;
    font-weight: 600;
}

.info div {
    font-size: 35px;
    font-weight: 600;
}

#select {
    appearance: none;

    height: 30px;
    width: 50px;

    padding: 0;
    margin: 0 10px 0 10px;

    font-family: 'Hi Melody', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    background-color: pink;

    border: 2px solid black;
    border-radius: 7px;
}

.compare {
    height: fit-content;
    max-height: 70px;
    width: 240px;

    padding: 5px 10px 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 10px;

    background-color: rgba(255, 192, 203, 0.44);
}

.compare h2 {
    font-size: 30px;

    white-space: nowrap;
}

.compare_content {
    height: fit-content;
    min-width: 240px;
    max-width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;

    padding: 30px;

    font-weight: 600;
    font-family: none;

    text-align: start;

    border: 2px solid black;
    border-radius: 10px;

    background-color: white;
    font-size: 1rem;
}

.compare_content img {
    height: auto;
    width: 90%;

    border-radius: 10px;

    box-shadow: 2px 2px 3px pink;
}

.compare_content h1 {
    font-size: 35px;
}

.compare_content h2 {
    font-size: 25px;
}

.compare_content hr {
    
}