@media screen and (max-width: 500px) {
    #search {
        width: 150px;

    }

    #menu {
        width: 100%;
    
        display: flex;
        justify-content: center;
    }

    .content {
        grid-template-columns: auto auto;
    }

    .bar {
        width: 200px;

        right: -200px;
    }
}

@media screen and (min-width: 501px) {
    #search {
        height: 40%;
        width: 100%;

        background-color: white;
        padding-left: 5px;
        padding-right: 5px;

        border: 2px solid black;
        border-radius: 5px;
        margin: 0 auto;
    }

    #menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 

    #menu label {
        margin-right: 10px;
    }

    .content {
        grid-template-columns: auto auto auto auto auto;
    }

    .bar {
        width: 300px;

        right: -300px;
    }
}

#search {
    height: 40%;

    background-color: white ;

    padding-left: 5px;
    padding-right: 5px;


    border: 2px solid black;
    border-radius: 5px;
}

#search form {
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

#search .material-symbols-outlined {
    border: none;

    background-color: white;

    color: rgba(0, 0, 0, 0.637);

    user-select: none;

    font-size: 3vh;

}

#search input {
    height: 80%;
    width: 80%;

    border: none;

    font-size: 100%;
}

#search input:focus {
    outline: none;
}

.content {
    height: 76%;
    width: 100%;

    padding-top: 10%;

    text-align: center;

    overflow: auto;
}

.head {
    height: 100px;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 20px 35px 20px;
}

.head a {
    text-decoration: none;
    color: black;
}

.head a:active {
    color: rgba(0, 0, 0, 0.637);
}

.head h1 {
    font-size: 40px;
    text-align: center;
}

.head .make_room {
    width: fit-content;

    font-size: 25px;
    font-weight: 600;

    padding-left: 3px;
    padding-right: 3px;

    border: 2px solid black;
    border-radius: 7px;

    background-color: rgba(255, 192, 203, 0.44);
}

.head .make_room:active {
    background-color: rgba(255, 192, 203, 0.171);
}

.box {
    height: fit-content;
    margin: 0px 20px 20px 20px;
    margin-bottom: 35px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(372px, 1fr));
    gap: 15px;
}

.box a {
    text-decoration: none;
    color: black;
}

.room {
    height: 50px;

    padding: 0px 12px 0px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 192, 203, 0.44);

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px pink;
}

.room:active {
    background-color: rgba(255, 192, 203, 0.171);
}

.room h1 {
    font-size: 30px;
}

.room ul {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;    
}

.room ul li {
    list-style: none;

    font-size: 11px;
}