* {
    margin: 0;
    padding: 0;

    
}

html {
    font-family: 'Hi Melody', sans-serif;

    height: 100%;
    width: 100%;

    overflow: visible;
}

body {
    height: 100%;
    width: 100%;
}

.content {
    height: 84%;
    width: 100%;

    text-align: center;

    overflow: auto;
}

.content .text {
    height: fit-content;
    margin-top: 18%;
    margin-bottom: 16%;
}

.content h1 {
    font-size: 55px;

    margin-bottom: 0;
}

.content h2 {
    font-size: 35px;
}

.content p {
    font-size: 24px;

    font-weight: 800;
}

.text a {
    text-decoration: none;
    color: black;

    font-size: 25px;
    font-weight: 600;

    padding: 2px;

    background-color: rgba(255, 192, 203, 0.44);

    border: 2px solid black;
    border-radius: 5px;
}

.other {
    height: 16%;
    width: 100%;

    border-top: 2px solid ;

    background-color: pink;

    position: fixed;
    bottom: 0;
}

.other .text {
    text-align: center;

    padding-top: 1rem;

    
}

.other .text h1 {
    font-size: 20px;
}

.other .text p {
    font-size: 20px;

    font-weight: 600;
}

#corp {
    color: rgba(0, 0, 0, 0.119);
}
